.ErrorBox {
    width: 35%;
    background-color: rgb(247, 79, 79);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 40px;
}

.ErrorBox ul li {
    font-size: 18px;
    margin: 10px;
}